<template>
  <div class="difficulty-container">
    <h3>Please choose your difficulty</h3>
    <button class="quiz-btn" @click="$emit('changeDifficulty', 'easy')">Easy</button>
    <button class="quiz-btn" @click="$emit('changeDifficulty', 'average')">Average</button>
    <button class="quiz-btn" @click="$emit('changeDifficulty', 'difficult')">Difficult</button>
  </div>
</template>

<script>
export default {
  name: 'DifficultySelector',
}
</script>

<style scoped lang="scss">
.difficulty-container {
  width: 90%;
}
</style>

