<template>
  <div class="question-container">
    <div v-if="hasQuizStarted">
      <h4 class="question">{{ operandLeft | number }} {{ operation }} {{ operandRight | number }} = ? </h4>
      <p v-show="result" class="result">{{ result }}</p>
      <div>
        <button class="choices-btn"
                :disabled="answerSubmitted"
                v-for="(answer, index) in answers"
                @click="submit(answer)"
                :key="index"
                :class="answer === expectedAnswer  && answerSubmitted ? 'correct' : '' ">
          {{ answer | number }}
        </button>
      </div>
      <p class="score"><span v-if="totalAnswered > 0">You got <strong>{{ correct || 0 }}</strong> correct out of <strong>{{ totalAnswered }}</strong> total questions.</span></p>
      <div class="quiz-actions">
        <button class="quiz-btn" @click="restart">Restart</button>
        <button v-if="totalAnswered > 9" class="quiz-btn" @click="save">Save & Close</button>
        <button class="quiz-btn" @click="next">Next</button>
      </div>
    </div>

    <div v-if="! hasQuizStarted">
      <button class="quiz-btn" @click="start">Start</button>
      <button class="quiz-btn" @click="$emit('cancel')">Cancel</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainQuiz',
  props: ['operator', 'difficulty'],
  data() {
    return {
      operation: this.operator,
      hasQuizStarted: false,
      operandLeft: null,
      operandRight: null,
      answers: [],
      expectedAnswer: null,
      min: 1,
      max: 13,
      result: '',
      totalAnswered: 0,
      correct: 0,
      answerSubmitted: false,
      skipCounter: 0,
      correctMessages: ['Good job!', 'Yay!' , 'Alright, keep it up.', 'Wow, you\'re amazing.'],
      incorrectMessages: ['Uh oh!', 'It\'s alright, try again.' , 'Oops!', 'Oh no!'],
    }
  },
  mounted() {
     this.correct = JSON.parse(localStorage.getItem('score'))
    this.totalAnswered = JSON.parse(localStorage.getItem('totalAnswered'))
  },
  filters: {
    number(value) {
      let n = parseFloat(value).toFixed(2)
      return Number(n).toLocaleString('en');
    },
  },
  methods: {
    getDigits() {
      if (this.difficulty === 'easy') {
        this.min = 1
        this.max = 13
      } else if (this.difficulty === 'average') {
        this.min = 800
        this.max = 1000
      } else if (this.difficulty === 'difficult') {
        this.min = 5000
        this.max = 10000
      }
    },
    next() {
      this.answerSubmitted = false
      this.result = ''
      this.skipCounter++
      this.operation = this.operator
      this.start()
    },
    start() {
      let operatorArray = [ "+", "-", "*", "/"];
      let randomOperator = Math.floor(Math.random() * operatorArray.length)
      let operator = this.operation === "random" ? operatorArray[randomOperator] : this.operation;

      this.getDigits()
      this.hasQuizStarted = true
      this.operandLeft = parseInt(Math.floor(this.min + Math.random() * this.max));
      this.operandRight = parseInt(Math.floor(this.min + Math.random() * this.max));

      const methods = {
        "+": (a, b) => a + b,
        "-": (a, b) => a - b,
        "*": (a, b) => a * b,
        "/": (a, b) => (a / b),
      }

      const methodToUse = methods[operator];
      this.answers = [];
      this.operation = operator
      let i;
      for (i = 1; i <= 4; i++) {
        if (this.operation === '/') {
          this.answers.push(methodToUse(this.operandLeft * (1 + i), this.operandRight))
        } else {
          this.answers.push(methodToUse(this.operandLeft, this.operandRight + i))
        }
      }
      this.expectedAnswer = methodToUse(this.operandLeft, this.operandRight)
      this.answers[parseInt(Math.random() * this.answers.length)] = this.expectedAnswer
    },
    submit(answer) {
      if (answer === this.expectedAnswer) {
        this.result = this.correctMessages[parseInt(Math.random() * this.correctMessages.length)] + ' You got it right.';
        this.correct++
        this.totalAnswered++
        this.answerSubmitted = true
      } else {
        this.result = `${this.incorrectMessages[parseInt(Math.random() * this.incorrectMessages.length)]} The correct answer is
        ${this.operation === '/' ? this.expectedAnswer.toFixed(2) :
          this.operation === '*' ? Number( parseFloat(this.expectedAnswer).toFixed(2)).toLocaleString('en') :
          this.expectedAnswer}.`
        this.totalAnswered++
        this.answerSubmitted = true
      }
    },
    save() {
      localStorage.setItem('score', JSON.stringify(this.correct))
      localStorage.setItem('totalAnswered', JSON.stringify(this.totalAnswered))
      localStorage.setItem('operator', JSON.stringify(this.operation))
      localStorage.setItem('difficulty', JSON.stringify(this.difficulty))
      this.$emit('cancel')
      window.location.reload()
    },
    restart () {
      localStorage.clear();
      this.$emit('cancel')
    }
  },
}
</script>

<style scoped lang="scss">
.question-container {
  width: 90%;
}

.question {
  border: 1px solid gray;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
  font-family: 'Patrick Hand', cursive;
  font-size: 36px;
}

.choices-btn {
  background: #0ee3c4;
  padding: 5px 10px;
  margin: 1.5%;
  width: 45%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  transition: 500ms;
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
}

.correct {
  background: #067968;
  color: white;
}

.quiz-actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.quiz-actions .quiz-btn {
  padding: 5px 10px;
}

.result {
  color: dimgray;
}

.score {
  text-align: right;
  color: dimgray;
}


@media (max-width: 1440px) {
  .choices-btn {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .choices-btn {
    width: 95%;
  }
}
</style>

