<template>
  <div class="quiz-wrapper">
    <h1>Math Quiz for Dummies</h1>

    <div class="quiz-container">
      <operator-selector
          v-if="!isOperatorSelected"
          @changeOperator="changeOperator"
      ></operator-selector>

      <difficulty-selector
          v-if="isOperatorSelected && !isDifficultySelected"
          @changeDifficulty="changeDifficulty"
      ></difficulty-selector>

      <main-quiz
          v-if="isOperatorSelected && isDifficultySelected"
          @cancel="cancel"
          :operator="operator"
          :difficulty="difficulty"
      ></main-quiz>

    </div>
   <div class="rules">
     <p>Rules</p>
     <ol>
       <li>Select the math operation you wish to practice on.</li>
       <li>Select level of difficulty: Easy, Average, Difficult.</li>
       <li>Keep track of your progress.</li>
       <li>When you answered more than 10 questions, you may choose to save your progress and then continue later.</li>
       <li>You may keep coming back to your saved progress unless you click restart.</li>
       <li>You may restart, and delete all your records.</li>
     </ol>
   </div>
  </div>
</template>


<script>
import OperatorSelector from "./OperatorSelector";
import DifficultySelector from './DifficultySelector'
import MainQuiz from "./MainQuiz";

export default {
  name: 'MathQuiz',
  data() {
    return {
      operator: '',
      isOperatorSelected: false,
      difficulty: 'easy',
      isDifficultySelected: false,
    }
  },
  components: {OperatorSelector, DifficultySelector, MainQuiz},
  mounted() {
    this.checkIfSaved()
  },
  methods: {
    cancel() {
      this.operator = ''
      this.difficulty = 'easy'
      this.isOperatorSelected = false
      this.isDifficultySelected = false
    },
    checkIfSaved() {
      this.isOperatorSelected = !!localStorage.getItem('operator')
      this.operator = localStorage.getItem('operator') ? JSON.parse(localStorage.getItem('operator')) : ''
      this.isDifficultySelected = !!localStorage.getItem('difficulty')
      this.difficulty = localStorage.getItem('difficulty') ? JSON.parse(localStorage.getItem('difficulty')) : ''
    },
    changeOperator(operator) {
      this.isOperatorSelected = true
      this.operator = operator;
    },
    changeDifficulty(difficulty) {
      this.isDifficultySelected = true
      this.difficulty = difficulty;
    }
  }
}
</script>

<style lang="scss">
.quiz-container {
  font-family: 'Balsamiq Sans', cursive;
  width: 50%;
  min-height: 50vh;
  background: beige;
  margin: 50px auto;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.quiz-btn {
  background: aquamarine;
  padding: 20px 10px;
  margin: 1.5%;
  width: 22%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  transition: 500ms;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

.quiz-btn:hover {
  background: #6af1c6;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  transition: 500ms;
}

.rules {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  font-family: 'Balsamiq Sans', cursive;
}

@media (max-width: 1440px) {
  .quiz-container {
    width: 75%;
  }

  .quiz-btn, .rules {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .quiz-container {
    width: 95%;
  }
  .quiz-btn, .rules {
    width: 95%;
  }
}
</style>

