<template>
  <div class="operator-container">
    <h3>Please choose your operator</h3>
    <button class="quiz-btn" @click="$emit('changeOperator', '+')">Addition</button>
    <button class="quiz-btn" @click="$emit('changeOperator', '-')">Subtraction</button>
    <button class="quiz-btn" @click="$emit('changeOperator', '*')">Multiplication</button>
    <button class="quiz-btn" @click="$emit('changeOperator', '/')">Division</button>
    <button class="quiz-btn" @click="$emit('changeOperator', 'random')">Random</button>
  </div>
</template>

<script>
export default {
  name: 'OperatorSelector',
}
</script>

<style scoped lang="scss">
.operator-container {
  width: 90%;
}
</style>

