<template>
  <div class="calculator">
    <div class="display btn">{{ current || 0 }}</div>
    <div class="btn" @click="clear">AC</div>
    <div class="btn" @click="sign">+/-</div>
    <div class="btn" @click="percent">%</div>
    <div class="btn operator" @click="divide">÷</div>
    <div class="btn" @click="append(7)">7</div>
    <div class="btn" @click="append(8)">8</div>
    <div class="btn" @click="append(9)">9</div>
    <div class="btn operator" @click="multiply">×</div>
    <div class="btn" @click="append(4)">4</div>
    <div class="btn" @click="append(5)">5</div>
    <div class="btn" @click="append(6)">6</div>
    <div class="btn operator" @click="subtract">-</div>
    <div class="btn" @click="append(1)">1</div>
    <div class="btn" @click="append(2)">2</div>
    <div class="btn" @click="append(3)">3</div>
    <div class="btn operator" @click="add">+</div>
    <div class="zero btn" @click="append(0)">0</div>
    <div class="btn" @click="dot">.</div>
    <div class="btn operator" @click="equals">=</div>
  </div>
</template>

<script>
export default {
  name: 'Calculator',
  data() {
    return {
      current: '',
      operator: null,
      previous: '',
      operatorClicked: false,
      isEqualsClicked: false,
    }
  },
  methods: {
    clear() {
      this.current = ''
    },
    sign() {
      this.current = this.current.charAt(0) == "-" ?
          this.current.slice(1) : `-${this.current}`;
    },
    percent() {
      this.current = `${parseFloat(this.current) / 100}`
    },
    append(number) {
      if (this.operatorClicked) {
        this.current = ''
        this.operatorClicked = false
      }

      if (this.isEqualsClicked) {
        this.current = ''
        this.isEqualsClicked = false
      }
      this.current = `${this.current}${number}`;
    },
    dot() {
      if (this.current.indexOf('.') === -1) {
        this.append('.')
      }
    },
    setPrevious() {
      this.previous = this.current;
      this.operatorClicked = true
      this.current = ''
    },
    divide() {
      this.operator = (a, b) => b / a;
      this.setPrevious()
    },
    multiply() {
      this.operator = (a, b) => a * b;
      this.setPrevious()
    },
    subtract() {
      this.operator = (a, b) => b - a;
      this.setPrevious()
    },
    add() {
      this.operator = (a, b) => a + b;
      this.setPrevious()
    },
    equals() {
      if (!this.previous || this.previous == '.') {
        return;
      }
      this.current = `${this.operator(parseFloat(this.current), parseFloat(this.previous))}`
      this.previous = null
      this.isEqualsClicked = true
    }
  }
}
</script>

<style scoped lang="scss">
.calculator {
  width: 30%;
  font-size: 40px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.display {
  grid-column: 1 / 5;
  background: #454550;
  color: white;
}

.zero {
  grid-column: 1 / 3;
  text-align: center;
}

.btn {
  border: 1px solid gray;
}

.operator {
  background: #f9bb36;
}


@media (max-width: 768px) {
  .calculator {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .calculator {
    width: 95%;
  }
}
</style>