<template>
  <div>
    <div class="slideshow-container" ref="slideshowContainer">
      <div class="slides fade">
        <div class="number-text"></div>
        <img src="../assets/images/black.png" alt="image ito">
        <div class="caption">Black headphones</div>
      </div>
      <div class="slides fade">
        <div class="number-text"></div>
        <img src="../assets/images/white.png" alt="image ito">
        <div class="caption">White headphones</div>
      </div>
      <div class="slides fade">
        <div class="number-text"></div>
        <img src="../assets/images/grab.png" alt="image ito">
        <div class="caption">Grab</div>
      </div>
    </div>
    <a href="" class="prev" @click.prevent="goToSlide(-1)">&#10094;</a>
    <a href="" class="next" @click.prevent="goToSlide(1)">&#10095;</a>

    <div class="dots" ref="dots">
      <span class="dot" @click="showSlide(1)"></span>
      <span class="dot" @click="showSlide(2)"></span>
      <span class="dot" @click="showSlide(3)"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Slideshow',

  data() {
    return {
      slideIndex: 1
    }
  },

  mounted() {
    this.showSlide(this.slideIndex)
  },

  methods: {
    goToSlide(index) {
      this.slideIndex = this.slideIndex + index

      let slides = this.$refs.slideshowContainer.children

      if (this.slideIndex > slides.length) {
        this.slideIndex = 1
      }

      if (this.slideIndex < 1) {
        this.slideIndex = slides.length
      }

      this.showSlide(this.slideIndex)
    },

    showSlide(index) {

      let slides = this.$refs.slideshowContainer.children
      let dots = this.$refs.dots.children

      slides.forEach((slide) => {
        slide.style.display = 'none'
      })

      dots.forEach((dot) => {
        dot.classList.remove("active")
      })

      slides[index - 1].style.display = "block"
      dots[index - 1].classList.add("active")
    }
  }
}
</script>

<style scoped lang="scss">
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 0, .8);
}

.caption {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s;

}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;

}

@keyframes fade {
  from {
    opacity: 4
  }

  to {
    opacity: 1
  }
}
</style>
