<template>
  <div class="container">
    <div class="todo-container">
      <div class="todo-wrapper">
        <div class="content-wrapper">
          <h1 class="header">TODO<span>LIST</span></h1>

          <div class="input">
            <form @submit.prevent="submit">
              <input type="text" v-model="todo.text" required placeholder="Add new task" maxlength="40">
            </form>
          </div>

          <div class="input">
            <input type="text" v-model="searchKeyword" placeholder="Search">
          </div>

          <ol>
            <li v-for="(item, index) in filteredList" :key="index" class="item fading" @click="toggleDone(index)"
                :class="item.done ? 'done' : '' ">
              <span @click="remove(index)"><i class="far fa-trash-alt"></i></span>
              {{ item.text }}
            </li>
          </ol>
          <transition name="fade">
            <button class="btns" @click="clean" v-show="doneList.length > 0">Remove all done</button>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ToDo',
  data() {
    return {
      todo: {
        text: '',
        done: false,
      },
      todos: JSON.parse(localStorage.getItem('todos')) || [],
      searchKeyword: '',
    }
  },
  computed: {
    doneList () {
      return this.todos.filter(todo => {
        return todo.done === true
      })
    },
    filteredList() {
      return this.todos.filter(todo => {
        return todo.text.toLowerCase().includes(this.searchKeyword.toLowerCase())
      })
    }
  },
  methods: {
    submit() {
      this.todos.push(this.todo)
      this.save()
      this.adding = true
      this.todo.text = ''
      this.updateList()
    },
    updateList() {
      this.todos = JSON.parse(localStorage.getItem('todos')) ? JSON.parse(localStorage.getItem('todos')) : [];
    },
    remove(index) {
      // $(`li:nth-child(${index})`).fadeOut(500, () => {
      this.todos.splice(index, 1)
      // });
      this.save();
    },
    toggleDone(index) {
      this.todos[index].done = !this.todos[index].done
      this.save()
    },
    clean () {
      this.todos = this.todos.filter(todo =>  todo.done === false)
      this.save()
    },
    save() {
      localStorage.setItem('todos', JSON.stringify(this.todos))
      this.adding = false
    }
  }
}
</script>

<style scoped lang="scss">
.fading {
  animation: fadein 500ms;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.container {
  background: url("https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") center center no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.todo-container {
  padding: 100px;
  width: 50%;
  margin: 0px auto;
  min-height: 70vh;
  background: transparent;
}

.todo-wrapper {
  width: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 5px;
  min-height: 70vh;
}

.content-wrapper {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.header {
  color: #FFFF00;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
}

.header span {
  color: white;
}

.input input {
  padding: 0.5rem;
  margin: 10px;
  outline: none;
  border: none;
  height: 23px;
  border-radius: 5px;
  width: 100%;
  transition: .5s;
  font-size: 1.15rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  font-family: 'Itim', cursive;
  font-size: 1.2rem;
  margin: 10px auto;
  height: 40px;
  line-height: 40px;
  text-align: left;
  color: #40403C;
  width: 100%;
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid gray;
  transition: 500ms;
}

.item span {
  position: absolute;
  right: 0;
  background: #c7ab11;
  height: 40px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
  z-index: 999;
  border-radius: 50%;
}

.item:hover span {
  width: 40px;
  opacity: 1.0;
}

.done {
  text-decoration: line-through double yellow;
}

ol {
  list-style: none;
  counter-reset: procedure-counter;
}

ol li {
  counter-increment: procedure-counter;
}

ol li::before {
  content: counter(procedure-counter);
  width: 40px;
  height: 40px;
  background: rgba(128, 128, 128, .2);
  border-radius: 100%;
  color: yellow;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  margin-right: 50px;
  float: left;

}

.btns {
  background: #77a028;
  padding: 10px 20px;
  margin: 20px 1.5%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  transition: 500ms;
  font-family: 'Itim', cursive;
  font-size: 1.5rem;
  color: white;
}

.btns:hover {
  background: #578006;
  cursor: pointer;
}

@media (max-width: 768px) {
  .todo-container {
    padding: 20px;
    width: 90%;
  }
}

@media (max-width: 375px) {
  .todo-container {
    padding: 10px 0;
  }

  .input input,
  .content-wrapper {
    width: 90%;
  }

  ol {
    padding: 0;
  }
}

</style>