<template>
  <li class="item fading" @click="$emit('toggleDone', index)" :class="item.done ? 'done': null">
      {{ item.text }}
      <span @click="$emit('removed', index)"><i class="far fa-trash-alt"></i></span>
  </li>
</template>

<script>
export default  {
  name: 'TodoItem',
  props: ['item', 'index'],
}
</script>

<style scoped lang="scss">

.item span {
  position: absolute;
  right: 0;
  background: #c7ab11;
  height: 40px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
  z-index: 999;
  border-radius: 50%;
}

.item:hover span {
  width: 40px;
  opacity: 1.0;
}

.done {
  text-decoration: line-through double yellow;
}
</style>