<template>
  <div class="nav">
    <div class="nav__header">
      <div class="nav__header__logo">
        VUE APPS
      </div>
    </div>
    <div class="nav__btn">
      <div class="nav__btn__bars" @click="toggle()">
        <span class="bar1" :class="isOpen ? 'change' : null "></span>
        <span class="bar2" :class="isOpen ? 'change' : null "></span>
        <span class="bar3" :class="isOpen ? 'change' : null "></span>
      </div>
    </div>

    <div class="nav__links" :class="isOpen ? 'show' : 'd-sm-none'">
      <a href="#" @click.prevent="calculator()">Calculator</a>
      <a href="#" @click.prevent="mathQuiz()">Math Quiz</a>
      <a href="#" @click.prevent="todo()">To Do</a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
    }
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen
    },
    calculator() {
      this.isOpen = false
      this.$router.push({name: 'Calculator'});
    },
    mathQuiz() {
      this.isOpen = false
      this.$router.push({name: 'MathQuiz'});
    },
    todo() {
      this.isOpen = false
      this.$router.push({name: 'ToDo'});
    },
  }
}
</script>

<style lang="scss" scoped>
.nav {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: relative;
  text-align: left;

  &__header {
    display: inline;

    &__logo {
      display: inline-block;
      font-size: 22px;
      padding: 10px 10px 10px 10px;
    }
  }

  &__btn {
    display: none;
  }

  &__links {
    display: inline;
    float: right;
    font-size: 18px;

    a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: cadetblue;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav__btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;

    &__bars {
      display: inline-block;
      height: 50px;
      padding: 13px;
      position: relative;

      .bar1 {
        display: block;
        width: 40px;
        height: 5px;
        background: #eee;
        margin-bottom: 5px;
        transition: 500ms;
      }

      .bar2 {
        display: block;
        width: 40px;
        height: 5px;
        background: #eee;
        margin-bottom: 5px;
        transition: 500ms;
      }

      .bar3 {
        display: block;
        width: 30px;
        height: 5px;
        background: #eee;
        transition: 500ms;
      }

      .bar1.change {
        transform: rotate(-45deg) translate(-9px, 6px);
        transition: 500ms;
      }

      .bar2.change {
        opacity: 0;
        transition: 500ms;
      }

      .bar3.change {
        transform: rotate(45deg) translate(-7px, -6px);
        width: 40px;
        transition: 500ms;
      }
    }
  }

  .show {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0;
    overflow-y: hidden;
    top: 50px;
    left: 0;
    transition: 500ms;
  }

  .show a {
    display: block;
    width: 100%;
  }

  .show {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
</style>