<template>
  <div id="app">
    <Navbar />

    <router-view></router-view>

  </div>
</template>


<script>
import Navbar from "./components/Navbar";
export default {
  components: { Navbar }
}
</script>


<style lang="scss">
#app {
  //font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>

